<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventures Worldwide!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class='{% block bodyClass %}{% endblock %}'>
    <div class="wrapper">
        {% include 'banner.html'%}
        {% block content %}
        
        {% endblock %}
    </div>
</body>
</html>